body {
    background-color: #fff;
    color: #131313;
    font-family: sans-serif;
    text-align: center;
    padding-top: 100px;
    margin: 0;
  }
  
  .counter-box {
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    display: inline-block;
    border: 1px solid #black;
  }
  
  #subscriber-count {
    font-size: 60px;
    margin-top: 10px;
    font-weight: bold;
  }

  
