body {
  background-color: #fff;
  color: #131313;
  font-family: sans-serif;
  margin: 0;
  padding: 5px;
}
.counter-box h1,
.counter-box h2,
.counter-box h5 {
  margin: 3px 0; 
}
#subscriber-count {
  font-size: 60px;
  margin-top: 10px;
  font-weight: bold;
}





