body {
  background-color: #fff;
  color: #131313;
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

#subscriber-count {
  font-size: 60px;
  margin-top: 10px;
  font-weight: bold;
}


